.hello{
border: solid 5px black;
text-align: center;
background-color: rgba(0, 56, 139, 0.815);
margin: 100px;
border-radius: 20px;
padding: 30px;
height: 300px;
width: 500px;
color: white;
}
button{
    border-radius: 10px;
    background-color: lightgreen;
    color: white;
    height: 30px;
    
}
h6{
    border: solid 5px lightgreen;
    border-radius: 10px;
    background-color: lightgreen;
    width: 50px;
    text-align: center;
   margin-left: 225px;

}
#Email {
    border-radius: 10px;
    height: 30px;
}
.menu-container{
    display: flex;
    justify-items: center;
   
}
.menu{
    border: 1px solid #ffffff15;
width: 1000px;
display: flex;
justify-content: space-around;
}
.action{
    border: 1px solid #ffffff1e;  
display: flex;
justify-content: flex-end;
}
.click{
    margin-left: 20px;
}
.Head{
    font-weight: 600;
}
.Aries{
    display: flex;
    margin-left: 20px;
    justify-content: center;
 }
/*.Heading{
    margin-left: 10px;
}

.action{
    margin-left: 20px;
}
    .Head{
    font-style: oblique;
}*/
